@model InventoryWebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutUnauthenticated.cshtml";
}

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>
    <div class="auth-fluid">
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">
                    <div class="auth-brand text-center text-lg-left">
                        <a href="index.html" class="logo-dark">
                            <span><img src="/Content/assets/images/BBLogo.jpg" alt="" height="40"></span>
                        </a>
                        <a href="index.html" class="logo-light">
                            <span><img src="/Content/assets/images/BBLogo.jpg" alt="" height="40"></span>
                        </a>
                    </div>

                    <h4 class="mt-0">Register</h4>
                    <p class="text-muted mb-4">Create a new account.</p>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your password" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Enter your password" })
                        </div>

                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-primary btn-block" type="submit"><i class="uil uil-user-plus"></i> Register </button>
                            <button class="btn btn-primary btn-block" type="button" onclick="loginUser()"><i class="mdi mdi-login"></i> Back to Login </button>
                        </div>
                    }

                    <footer class="footer footer-alt">
                        <p class="text-muted">  © Brampton Brick 2020</p>
                    </footer>


                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function loginUser() {
        window.location.href = "Login";
        return false;

    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
